:root {
    --primary: rgb(255, 255, 255);
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #5009d2;
    border: 1px solid var(--primary);
    border-color: #4276e6;
  }
  
  .btn--outline {
    background-color:#ff7846 ;
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 28px;
    font-size: 20px;
  }
  
  .btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #ff7846 ;
    color: #ffffff ;
    padding: 14px 20px;
    border: 1px solid rgb(61, 61, 240);
    transition: all 0.3s ease-out;
  }
  
  .btn--wide {
    padding: 12px 64px;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  .btn--v {
    padding: 12px 64px;
    font-size: 20px;
    color: #ffffff;

  }
  
  .btn--large:hover,
  .btn--medium:hover,
  .btn--mobile:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #666262;
  }
  
  .btn--wide:hover {
    color: #fff;
    background-color: #5009d2;
    transition: all 0.2s ease-out;
  }
  
  .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
  }
  
  .orange {
    background-color: #ff7846;
    color: rgb(255, 255, 255);
    border: none;
  }
  
  .red {
    background-color: #f00946;
    color: #fff;
    border: none;
  }
  
  .primary {
    background-color: #242424;
    color: #fff;
    border: none;
  }
  
  .primary:hover {
    background-color: rgb(143, 121, 121);
    color: #242424;
    border: none;
  }
  
  .purple {
    background: #5009d2;
    color: #ffffff;
    border: none;
  }
  
  .purple:hover {
    background-color: #3605a7;
  }